
@import 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
@import 'bootstrap.css';
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-width: 600px;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

#topSec {
    background: white;
}

nav{
 border: 1px solid gray;
}
.dropdown-menu{
    background:#05668D
}
 h1{
    font-family: fantasy;
    letter-spacing: -1px;
    color: darkorange;
    text-shadow: 1px 2px 5px #499167;
    margin: 0;
    text-indent: 20px;
    padding: 10px 2rem 10px 10px;
    text-decoration: none;
 }

.brand{
    text-decoration: none;
}
.hero-unit {
    background: url("../img/hero6.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    min-width: 600px;
}

.search-form {
    padding: 60px;
}

.hero-content{
    align-content: center;
    width:100%;
}

.container{
    padding: 1rem;
}

.colume-border{
    border: 1px solid gray;
    background: #7CB8B8;
}

.info-sec,.card-sec{
    background: #7CB8B8;
}

#carousal{
    width: 100%;
    padding-top: 10px;
}

/* Begin Footer*/
footer {
    background: rgb(169, 204, 230);
    text-align: center;
    padding: 0;
    margin: 0;
     min-width: 310px;
     border: 2px solid black;
}
footer ul{
    padding-top: 10px;
    padding-left: 0;
    margin: 0;
    
}

footer ul a{
    text-decoration: underline;
    color: black;
   }

footer p {
    margin: 0;
    padding:20px;
    color: darkblue;
    text-align: center;
}

.social-links{
   text-align: center;
    padding: 10px;
    font-size: 30px;
}


/* End Footer*/

@mixin show-search-box {
    @media(max-width:650px){  
        @content;
    }
 }

 @include show-search-box {
    .search-form {
        padding: 100px;
    }
 }


 @mixin logo-font-change {
    @media (max-width:500px){
        @content;
    }
 }
 
 
@include logo-font-change{
    header h1{
        font-size: 25px;
        padding: 10px 0 10px 0;
        margin: 0;
        text-align: center;
        text-indent: 0;
    }


}


